* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
		Droid Sans, Helvetica Neue, sans-serif;
	background: linear-gradient(
			to bottom left,
			rgb(126, 126, 126) 0%,
			rgb(182, 182, 182) 50%,
			rgb(70, 70, 70) 100%
		)
		no-repeat fixed;
}

a {
	color: inherit;
	text-decoration: none;
}
